<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecBlog</title>
    <link rel="stylesheet" href="../static/CSSs/reset.css"/>
    <link rel="stylesheet" href="../static/CSSs/style.css"/>
</head>
<body>
    <header>
        <section class="titulo">
            <h1 class="tec">Tec</h1>
            <h1 class="blog">Blog</h1> 
        </section>   
        <ul>
            <li href="#">Home</li>
            <li href="#">Jogos</li>
            <li href="#">Celulares</li>
            <li href="#">Informática</li>
            <li href="#">Eletrônicos</li>
        </ul>
    </header>
    <div id="interface">
        <div id="left">
            <div id="post1">
                <h2>Titulo da Postagem 1</h2>
                <p id="texto">Postado em 20 de março de 2022</p>
                <img id="foto1" src="../static/imagens/imagem1.jpg">
                <p id="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi dicta fugit necessitatibus, earum delectus nihil. Ipsa iste blanditiis sunt, incidunt nulla esse animi saepe deleniti beatae nesciunt. Dolor, porro vel.</p>
                <p id="leia" href="#">Leia mais</p>
            </div>
            <div>
                <div id="recentes">
                    <p id="rec">Postagens recentes</p>
                    <p id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p id="leia2" href="#">Leia mais</p>
                    <hr>
                    <p id="text2">Lorem ipsum dolor sit, amet consectetur adipisicing elit...</p>
                    <p id="leia2" href="#">Leia mais</p>
                </div>            
                <div id="categorias">
                    <p id="rec">Categorias</p>
                    <ul id="cats">
                        <li id="cat" href="#">Jogos</li>
                        <li id="cat" href="#">Celulares</li>
                        <li id="cat" href="#">Informática</li>
                        <li id="cat" href="#">Eletrônicos</li>
                    </ul>
                </div>
            </div>    
        </div>
        <div id="right"> 
            <div id="post2">
                <h2>Titulo da Postagem 2</h2>
                <p id="texto">Postado em 10 de março de 2022</p>
                <img id="foto2" src="../static/imagens/imagem2.jpg">
                <p id="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, consequatur impedit nesciunt earum ipsa corporis qui. Saepe, itaque commodi nihil odio minima labore esse exercitationem nisi velit ipsum non dolorem!</p>
                <p id="leia" href="#">Leia mais</p>
        </div>    
    </div>
    <h4 class="end">Todos os direitos reservados</h4>
        
</body>
</html>